<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Conversion Tools</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary">Previous Step</button>
                        <button class="btn btn-primary">Next Step</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label class="col-lg-2">Steps</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="inputEmail" placeholder="1">
                        </div>
                        <div class="col-lg-7">
                            <button class="btn btn-primary btn-sm">+</button>
                            <button class="btn btn-primary btn-sm">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-success">Complete Conversion</button>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-default">Export Converted DFA</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
