<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="inline-title">Control Conversion:</span>
        <button class="btn btn-xs btn-default" ng-click="stepForward()">Step Forward</button>
        <button class="btn btn-xs btn-default" ng-click="runConversion()">Run Conversion</button>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info">
                    <p>Step forward through or run the entire conversion.<br/>The symbol "ES" represents the empty set.</p>
                </div>
                <div id="DFA" ng-init="initializeDFA()" />
            </div>
        </div>
    </div>
</div>
