<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="inline-title">Construct NFA: </span>
        <button class="btn btn-xs btn-default" ng-click="addState()">Add State</button>
        <button class="btn btn-xs btn-default" ng-click="addTransition()">Add Transition</button>
        <button class="btn btn-xs btn-default" ng-click="deleteSelected()">Delete Selected</button>
        <button class="btn btn-xs btn-default" ng-click="setStartState()">Toggle Selected As Start</button>
        <button class="btn btn-xs btn-default" ng-click="setAcceptStates()">Toggle Selected As Accept</button>
        <button class="btn btn-xs btn-default" ng-click="reset()">Reset</button>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info">
                    <p>Double-click a state to select or de-select it. "E" is reserved for &epsilon;-transitions.
                    <a href="" ng-click="sampleNFA1()">Sample NFA 1</a> | 
                    <a href="" ng-click="sampleNFA2()">Sample NFA 2</a> | 
                    <a href="" ng-click="sampleNFA3()">Sample NFA 3</a>
                    </p>
                </div>
                <div id="NFA" ng-init="initializeNFA()" />
                
            </div>
        </div>
    </div>
</div>
