<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="inline-title">Construct NFA: </span>
        <button class="btn btn-xs btn-default" ng-click="addState()">Add State</button>
        <button class="btn btn-xs btn-default" ng-click="addTransition()">Add Transition</button>
        <button class="btn btn-xs btn-default" ng-click="deleteSelected()">Delete Selected</button>
        <button class="btn btn-xs btn-default" ng-click="">Mark Selected As Accept</button>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="NFA" ng-init="initializeNFA()" />
                <div class="alert alert-info">
                    <p>Double-click on a state to select or de-select it. The transition "E" is reserved for &epsilon;-transitions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
