<div class="panel panel-success">
    <div class="panel-heading">
        <span class="panel-title">NFA</span>
        <div class="buttons" style="float: right">
            <button class="btn btn-default btn-xs" ng-click="addState($event)">Add State</button> &nbsp;
            <button class="btn btn-default btn-xs" ng-click="NFA.deleteSelected()">Delete Selected States</button> &nbsp;
            <button class="btn btn-default btn-xs">Set Start State</button> &nbsp;
            <button class="btn btn-default btn-xs" ng-click="NFA.setAcceptStates()">Toggle Accept State(s)</button> &nbsp;
        </div>
    </div>
    <div id="NFA" class="panel-body" ng-init="initializeNFA()" ng-click="onClick($event)" ng-keydown="onKeyDown($event)" ng-blur="onBlur()" ng-dblclick="onDblClick($event)" tabindex="0" />
</div>
</div>
<p>&#9632; Shift+Click to create a new state. 
&#9632; Double click to select/de-select a state. 
&#9632; Press "Delete" to delete the selected state(s).
&#9632; Shift+Drag to connect states.</p>
