
svg {
	background-color: #FFF;
}

circle {
	stroke: #000;
    stroke-width: 2px;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

button#slow {
    margin-left: 40px;
}