
svg {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	margin: 0px;
}

circle {
	stroke: #000;
    stroke-width: 2px;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.node-label {
	font-size: 1.5em;
	font-weight: bold;
}

#NFA { 
	padding: 0px;
	min-height: 100px;
	position: relative;
}